body {

    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #e1f343, #f2f2f2);
}

body {
    display: flex;
    flex-direction: column;
}
.main-content {
    flex: 1; /* Esto hará que el contenido principal ocupe todo el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye el contenido dentro del contenedor principal */
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
    
}

header h1 {
    margin-bottom: 0;
    
}

nav ul {
    padding: 0;
    list-style: none;
    margin-top: 10px;
    
}

nav ul li {
    display: inline;
    margin-right: 20px;
    
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    
}

nav ul li a:hover {
    color: #adb5bd;
    
}
section {
    margin-bottom: 180px; 
 
    
}



footer {
    background-color: #343a40;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 20px;

}

section p,
section h2,
section h3,
section h4,
section a,
section span,
section form {
    margin-left: 10px;
}
.contenedor {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
  }
  
